.education-container {
  min-height: 100vh;
}
.education-education {
  width: 970px;
  height: 815px;
  display: flex;
  padding: 0;
  margin-left: 23%;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.education-text {
  left: 397px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.education-text02 {
  top: 65px;
  left: 266px;
  color: var(--dl-color-default-paragraphfont);
  width: 438px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.education-education-detils {
  top: 183px;
  left: 0px;
  width: 970px;
  height: 632px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.education-line33 {
  top: 416px;
  left: 40px;
  width: 901px;
  height: 0px;
  position: absolute;
}
.education-webdevelopercourses {
  top: 444px;
  left: 37px;
  width: 904px;
  height: 150px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.education-text04 {
  top: 4px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.education-text06 {
  top: 50px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.education-jan1016dec2021 {
  top: 53px;
  left: 78px;
  width: 111px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 180, 0, 1);
}
.education-text08 {
  top: 4px;
  left: 7px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100.89999437332153%;
  font-stretch: normal;
  text-decoration: none;
}
.education-text10 {
  left: 368px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.education-text12 {
  top: 50px;
  left: 368px;
  color: var(--dl-color-default-paragraphfont);
  width: 536px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.education-universityof-toronto {
  top: 47px;
  left: 37px;
  width: 904px;
  height: 150px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.education-text14 {
  top: 4px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.education-text16 {
  top: 51px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.education-jan1016dec20211 {
  top: 54px;
  left: 78px;
  width: 111px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 180, 0, 1);
}
.education-text18 {
  top: 4px;
  left: 7px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100.89999437332153%;
  font-stretch: normal;
  text-decoration: none;
}
.education-text20 {
  left: 368px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.education-text22 {
  top: 50px;
  left: 368px;
  color: var(--dl-color-default-paragraphfont);
  width: 536px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.education-line32 {
  top: 208px;
  left: 40px;
  width: 901px;
  height: 0px;
  position: absolute;
}
.education-programming-course {
  top: 236px;
  left: 37px;
  width: 904px;
  height: 150px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.education-text24 {
  top: 4px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.education-text26 {
  top: 50px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.education-jan1016dec20212 {
  top: 53px;
  left: 78px;
  width: 111px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 180, 0, 1);
}
.education-text28 {
  top: 4px;
  left: 7px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100.89999437332153%;
  font-stretch: normal;
  text-decoration: none;
}
.education-text30 {
  left: 368px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 123.59999418258667%;
}
.education-text32 {
  top: 50px;
  left: 368px;
  color: var(--dl-color-default-paragraphfont);
  width: 536px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
